h1 {
    margin-left: 3rem;
    font-family :Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
li{
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar nav , ul{
    display: flex;
    justify-content: space-between;
}
.welcomeImage>img {
    height: 100vh;
    width: 95vw;
    margin-left: 1.5vw;
    margin-right: 2vw;
}
.container {
    display: flex;

}
.container img {
    height: 20vh;
    width: 10vw;
}
.container p {
    margin-left: 1rem;
    text-align: center;
}
.container>div {
    text-align: center;
    margin-top: 1rem;
    margin-right: 2rem;
    /* width: 30vw; */
}
.footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 100px;
    /* width: 97vw; */
    padding-top: 1px;
}
.footer>p {
    font-size: 20px;
}
a{
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: mediumturquoise;
}